.overall1{
    width: 100%;
    /* border: 2px solid red; */
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    overflow-y: scroll;
}

.image1{
    flex: 0.3 ;
    /* border: 2px solid red; */
    height: max-content;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: aliceblue;   
    object-fit: cover; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1 img{
    width: 100% ;
}

.text1{
    flex: 0.4;
    height: max-content;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: aliceblue;
    padding: 20px !important;
}

.text1 p{
    margin: 15px auto;
    display: block;
    text-align: left;
}

.brand1{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.name1{
    font-size: 26px;
    font-weight: 600;
    margin-top: 0 !important;
}

.desc1{
    font-size: 16px;
}

.price1{
    color: rgb(101, 75, 75);
    font-size: 22px;
}

.buy1 button{
    width: 100px !important;
}

.quantity1{
    color: rgb(101, 75, 75);
    font-size: 18px;
    font-weight: 400;
}

.quantity1 span{
    margin-left: 5px;
}
.quantity1 span input{
    width: 50px;
    padding: 3px;
}

@media screen and (max-width: 1200px){
    .overall1{
        flex-direction: column;
        height: max-content;
    }
    .image1{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px){
    .overall1{
        flex-direction: column;
        height: max-content;
    }
    .image1{
        width: 100%;
        margin-bottom: 10px;
    }
}

